@model IEnumerable<WinFastLoseFaster.Models.Game>
 
@using WinFastLoseFaster.Models;
<link rel="stylesheet" type="text/css" href="~/Content/Coinflip.css" />

@{
    ViewBag.Title = "Coinflip";
}
<div id="title">
    <h2>Coinflip-Game</h2>
    <h5>Awesome coinflip game where you can coinflip a fucking coin with another m8 of yours or an enemy mohhahaha</h5>
</div>
<div class="container">

    @if ((bool)Session["isLoggedIn"] == true)
    {

        <div class="row" id="CreateGame">
            <!--<button type="submit" id="knapp" class="btn-success">Join game</button>-->


            <form method="post" action="CreateCoinflip">
                <input type="text" placeholder="Summa" id="summa" name="TextSum"><br>
                <input class="btn-danger" type="submit" value="Skapa spel" id="knapp">
            </form>

        </div>

    }
    else
    {
        <span style="color:red;">Login to create Coinflip game</span>

    }

</div>
<br>
<div id="coinflipGameList">

    @*

    @foreach (var coinflip in Model)
    {
        <div class="coinflipGame row">

            @Html.DisplayFor(coinflipGame => coinflip.users[0].Username)
            Wager: @Html.DisplayFor(coinflipGame => coinflip.Userbets.FirstOrDefault().Wager)
            @Html.DisplayFor(coinflipGame => coinflip.Timestamp)

            @if ((bool)Session["isLoggedIn"] == true)
            {

                <form action="JoinCoinflip" method="post">
                    <input type="number" value="@Html.DisplayFor(coinflipGame => coinflip.Id)" name="coinflipGameId" hidden readonly />
                    <input class="btn-success coinflipJoinGame" type="submit" value="Join Game" />

                </form>

            }
            else
            {
                <span style="color:red;">Login to join game</span>

            }


        </div>
        <br>
    }

    *@

</div>


<div id="coin-flip-cont">
    <div id="coin">
        <div class="front"></div>
        <div class="back"></div>
    </div>
</div>



    
<script src="~/Scripts/coinflip.js"></script>
