<link rel="stylesheet" type="text/css" href="~/Content/Coinflip.css" />

@{
    ViewBag.Title = "Coinflip";
}

<div id="divirino">
    <!--<button type="submit" id="knapp" class="btn-success">Join game</button>-->

    Random nummer: @ViewBag.Random
    <br />
    Vinnaren är: @ViewBag.Winner

</div>
