<link rel="stylesheet" type="text/css" href="~/Content/Coinflip.css" />
@{
    ViewBag.Title = "Coinflip";
}

<div id="divirino">
    <form method="post" action="CreateCoinflip">
        <input type="text" placeholder="Summa" id="summa" name="TextSum"><br>
        <input type="submit" value="Skapa spel" id="knapp">
    </form>
</div>
