body {
}

.container {
    /*border: 2px solid orange;*/
}

#CreateGame {
    width: 104px;
    margin: 0px auto;
    border: 2px solid orange;
    background-color: lightblue;
}

#knapp {
    width: 100px;
    height: 35px;
}

#summa {
    width: 100px;
    height: 40px;
    background-color: white;
}

.coinflipGame {
    border: 1px solid lightblue;
    margin: 0px auto;
    width: 230px;
}

#title {
    margin: 0px auto;
}

#title h2, h5 {
    text-align: center;
}