.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    font-size:medium;
    background-color:black;
    color:red;
    
    
    
    
}
.navbar-toggle {
    z-index:3;
}
.dropdown {
    display: block;
    color: aqua;
    
}

.navbar-nav li {
   color:rebeccapurple;
}

.navbar-nav li:hover {
    background-color:white;
}
.navbar-nav {
    background-color: #179b77;
}
.navbar-default .navbar-nav>li>a {
    color: #1ab188;
    text-transform:uppercase;
}
.navbar{
    border:0px;
}
body {
    /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 12px;
   /*line-height: 1.428571429;*/
   
}



