body {
}

#wrapper {
    /*border: 2px solid orange;*/
}

/*************** Färg klasser ***************/

.green {
    color: green;
    font-size:15px;
}

.red {
    color: red;
    font-size:15px;
}

.white {
    color: white;
    font-size:15px;
}
.black{
    color:black;
    font-size:15px;
}


/*************** BIG STATS SHIT ***************/

.profilPic {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 5px solid lightseagreen;
    display: inline-block;
    /*margin-right: 100px;*/
    margin-top: 10px;
}

#imgPreview img {
    margin-top: -75px;
    background-size:cover;
}

#imgPreview {
    margin:auto;
}


#username {
    display: inline-block;
    margin-left:20px;
    
     
}

#username h2{
    margin: auto;
    padding-top: 10px;
    /*padding-left: 66px;*/
    font-size:20px;
}

.headStats {
    display:inline-block;
    /*border: 5px solid lightseagreen;*/
    /*background-color: black;*/
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 5px;
    padding-top: 25px;
    margin-top: 30px;
    margin-right: 100px;
    border-bottom-style:outset;
    border-radius:50%;
    word-spacing:5px;
    border:5px solid orange;
    
}

#profilHeader {
    /*border: 1px solid pink;*/
       display: inline-block;
       margin-top:50px;

}

#profilHeader img {
    /*margin-top: -75px;*/
    cursor:pointer;
    background-size:cover;
    min-height: 10em;
    display: inline-block;
    vertical-align: middle;
    
}

/*************** FLIKAR FÖR MATCHER OCH STATS ***************/

.Flikar {
    height: 50px;
    /*border: 2px solid lime;*/
    /*position: fixed;*/
}

.Flikar div {
   display: inline-block;
   border-collapse:unset;
}

.Flikar div:hover {
    cursor: pointer;
    color: orange;
}

.Flikar h3 {
    /*border: 1px solid red;*/
    display: inline-block;
    margin-right: 5px; 
    margin-top: 10px;
    border: 1px outset lightseagreen;
}

/*************** TITLAR FÖR MATCHER ***************/

#statsTitlar th {


    /*margin-right:16px;*/
    min-width: 118px;
    color: orange;
    /*margin-left: 4px;*/
    font-size:15px;
}

#statsTitlar {
    /*border: 2px solid red;*/  
}

/*************** MATCH HISTORIK ***************/

.Matches {
    /*border: 2px solid orange;*/   
}

.game {
    /*border:1px solid black;*/
    display:table; 
    width:100%
}
.spacing{
    width:100px;
    height:50px;
}

.game tr {
    display: inline-block;
    /*border: 1px solid orange;*/
    min-width: 118px;
     
}

/*************** STATS ***************/

#stats {
    display: none;
}

#stats h4 {
    color: white;
}

/*************** Bank ***************/

#bank {
    display: none;
}

#bank h5 {
    color: white;
}
.td{
    border-spacing:5em;
    text-align:left;
    font-size:30px;
    background-color:black;
}
.th{
    border-spacing:5em;
    font-size:30px;
}
.h3  {
    font-size: 10px;
}
table{
    background-color:#333333;
}
