body {
}

#wrapper {
    /*border: 2px solid orange;*/
}

/*************** Färg klasser ***************/

.green {
    color: green;
}

.red {
    color: red;
}

.white {
    color: white;
}


/*************** BIG STATS SHIT ***************/

#profilPic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid lightseagreen;
    display: inline-block;
    /*margin-right: 100px;*/
}

#username {
    display: inline-block;
}

#username h2{
    /*margin: auto;
    padding-top: 10px;
    padding-left: 66px;*/
}

.headStats {
    display:table-cell;
    border: 5px solid lightseagreen;
    background-color: black;
    width: 180px;
    height: 180px;
    text-align: center;
    border-radius: 5px;
    padding-top: 25px;
    margin-top: 30px;
    margin-right: 10px;
   
    
}

#profilHeader {
    /*border: 1px solid pink;*/
    background-color: #333333;
}

#profilHeader img {
    /*margin-top: -75px;*/
    cursor:pointer;
}

/*************** FLIKAR FÖR MATCHER OCH STATS ***************/

.Flikar {
    height: 50px;
    /*border: 2px solid lime;*/
    /*position: fixed;*/
}

.Flikar div {
   display: inline-block;
}

.Flikar div:hover {
    cursor: pointer;
    color: orange;
}

.Flikar h3 {
    /*border: 1px solid red;*/
    display: inline-block;
    margin-right: 5px; 
    margin-top: 10px;
}

/*************** TITLAR FÖR MATCHER ***************/

#statsTitlar th {


    /*margin-right:16px;*/
    min-width: 118px;
    color: orange;
    /*margin-left: 4px;*/
}

#statsTitlar {
    /*border: 2px solid red;*/
}

/*************** MATCH HISTORIK ***************/

.Matches {
    /*border: 2px solid orange;*/   
}

.game {
    /*border:1px solid black;*/
    display:table; 
    width:100%
}

.game tr {
    display: inline-block;
    /*border: 1px solid orange;*/
    min-width: 118px;  
}

/*************** STATS ***************/

#stats {
    display: none;
}

#stats tr {
    color: white;
}
.td{
    border-spacing:5em;
    text-align:left;
}
.th{
    border-spacing:5em;
}