
@{
    ViewBag.Title = "Index";
}
    
<link rel="stylesheet" type="text/css" href="../Content/Login.css" />

<div class="jumbotron" style="background-image: url(http://fullhdpictures.com/wp-content/uploads/2015/11/Awesome-Roulette-Wallpaper.jpg); background-size: 100%;">
    <div class="container for-about">
        <h1>Välkommen till WinfastLoseFaster</h1>
        <p> börjar idag och vinn massa jävla pengar  </p>
    </div>
</div>

