<link rel="stylesheet" type="text/css" href="~/Content/Profile.css" />
@{
    ViewBag.Title = "Profil-Sida";
}

<img src="@ViewBag.Picture" alt="Profile Picture" />

<div id="username">
    <h2>@ViewBag.Username</h2>
</div>

<div id="deposit">
    <h2>Deposit</h2>
    <h3>@ViewBag.Deposit</h3>
</div>

<div id="wins">
    <h2>Wins</h2>
    <h3>@ViewBag.Wins</h3>
</div>

