@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="../Content/Login.css" />

<div class="jumbotron">
    <h2 style="">Välkommen till WinfastLoseFaster</h2>
    <p>gyuhjikkkkkfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj </p>
    <p>feeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
    <button class="alert-danger">Sign up today!</button>
   
    
    
</div>
