@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="../Content/Login.css" />
<div class="jumbotron">
    <h1>Welcome to WinfastLoseFaster</h1>
    <p>
       släck törsten med Imsadal källvatten 
    </p>
</div>
<div class="container">
    <p>This is some text.</p>
    <p>This is another text.</p>
</div>